body {
	font-family: "Arial", sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container {
	text-align: center;
}

.button {
	margin-bottom: 20px;
	padding: 10px 20px;
	font-size: 16px;
}

.component {
	margin: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.child {
	background-color: #aaffaa;
}

.sibling-1 {
	background-color: #aaaaff;
}

.sibling-2 {
	background-color: #ffaaff;
}
